@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Mulish&family=Archivo:wght@700;800&family=Montserrat:wght@700&family=Roboto:wght@700&family=Titillium+Web:wght@600&family=Varela&display=swap");
/*font-family: 'Archivo', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Varela', sans-serif;*/

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #ffffff00;
}
::-webkit-scrollbar-thumb {
  background-color: #575f6b;
  border-radius: 90px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela", sans-serif;
  font-weight: 500;
  color: rgb(22, 22, 22), 0, 0;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 80%;
}
.brand {
  color: hsl(212, 49%, 35%);
  font-size: 4.8rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

#navbar-whole {
  background-color: rgba(26, 53, 71, 0.089);
  backdrop-filter: blur(2px);
}
.navbar .dropdown a {
  color: rgb(65, 154, 255);
}
#nav .navbar-toggler {
  transition: 0.3s;
}

#header {
  height: 89vh;
}

.navbar .container-fluid {
  width: 91vw;
  height: 40px;
}
.container-fluid h2 {
  font-weight: 900;
  color: #353e5c;
}
.container-fluid h2 span {
  font-weight: 900;
  color: #2e91fc;
}
.navbar-nav a {
  color: #2d2d36;
}
.toogle-button i {
  background-color: #504f4f16;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.navbar-brand {
  cursor: pointer;
  margin-top: 1.5rem;
}

.navbar-brand i {
  color: #2e91fc;
}

.navbar-brand i span {
  color: #353e5c;
}

.navbar-brand i span .hub {
  color: #2e91fc;
  font-weight: 600;
}
.navbar-brand > h1 {
  font-size: 2rem;
  padding-bottom: 20px;
}

.navbar-brand > h2 {
  padding-bottom: 15px;
  color: #2f3338;
}

.nav-link {
  color: rgb(155, 140, 140);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}

.join-btn {
  font-size: 1.4rem;
  letter-spacing: 1px;
  padding: 4px 30px;
  border-radius: 25px;
  text-decoration: none;
  color: hsl(212, 49%, 35%);
  border: 2px solid #353e5c;
  transition: 0.3s;
}

.join-btn:hover {
  background-color: hsl(212, 49%, 35%);
  color: white;
}

#about .container-fluid {
  height: 100vh;
}
.about-heading {
  font-size: 35px;
  font-weight: 800;
  color: hsl(212, 49%, 35%);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.about-desc {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  background: url("https://products.ls.graphics/mesh-gradients/images/55.-My-Pink.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0;
  z-index: 10;
  border-radius: 10px;
  /* background-image: radial-gradient(
      ellipse at bottom left,
      rgba(0, 163, 203, 1) 40%,
      rgba(0, 163, 203, 0) 40%
    ),
    radial-gradient(
      ellipse at top right,
      rgba(0, 163, 203, 1) 30%,
      rgba(0, 163, 203, 0) 30%
    ),
    linear-gradient(
      to right,
      rgba(98, 87, 147, 1) 0%,
      rgba(98, 87, 147, 1) 33%,
      rgba(213, 93, 100, 1) 33%,
      rgba(213, 93, 100, 1) 66%,
      rgba(228, 145, 41, 1) 66%
    ); */
}
#about h3 {
  backdrop-filter: blur(10px);
  border-radius: 10px;
  z-index: 0;
  /* text-shadow: 1px 1px #c0c0c0; */
  font-weight: 600;
  color: rgb(66, 76, 83);
}
#courses h2 {
  font-size: 35px;
  font-weight: 800;
  color: hsl(212, 49%, 35%);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.offer-desc p {
  font-size: 1.5rem;
  color: #575f6b;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px;
  margin: 35px 0;
  letter-spacing: 2px;
  cursor: default;
}
.offer-desc .p1 {
  border-left: 5px solid hsl(180, 62%, 55%);
}
.offer-desc .p2 {
  border-left: 5px solid hsl(0, 100%, 68%);
}
.offer-desc .p3 {
  border-left: 5px solid hsl(46, 100%, 64%);
}
.offer-desc .p4 {
  border-left: 5px solid hsl(223, 62%, 55%);
}
.offer-desc .p5 {
  border-left: 5px solid hsl(298, 100%, 78%);
}
.pricing-heading {
  font-size: 35px;
  font-weight: 800;
  color: hsl(212, 49%, 35%);
  text-transform: uppercase;
  letter-spacing: 1px;
}

#pricing .container {
}

#pricing #col-sm1 {
  background-color: #f77d48;
  text-transform: uppercase;
  text-align: center;
}

#plan-cards1,
#plan-cards2,
#plan-cards3 {
  background-color: #1e2024;
  border-radius: 10px;
  box-shadow: 0px 30px 40px -20px hsl(240, 6%, 91%);
  cursor: pointer;
  color: #e9ecef;
  transition: transform 0.2s;
}
#plan-cards1:hover {
  transform: scale(1.05);
}
#plan-cards2:hover {
  transform: scale(1.05);
}
#plan-cards3:hover {
  transform: scale(1.05);
}
#plan-cards1 {
  border-top: 5px solid #78ffd6;
}
#plan-cards2 {
  border-top: 5px solid #ffc837;
}
#plan-cards3 {
  border-top: 5px solid #2f80ed;
}
.plan-heading h2 {
  font-weight: 500;
  font-size: 1.2rem;
  color: #e9ecef;
}

#pricing .mt-5 h1 {
  font-family: "Roboto", sans-serif;
  color: #ff3e5b;
  font-size: 2rem;
}

#pricing .month-text {
  color: #ffc86a;
  font-size: 1.4rem;
}

.mt-5 p {
  letter-spacing: 1px;
  font-weight: lighter;
  color: #fafafa;
  font-weight: 400;
  font-size: 18px;
}

#courses {
  padding-top: 5rem;
}
#pricing {
  padding-top: 10rem;
}
#pricing .container {
  width: 90%;
}
#btn1,
#btn2,
#btn3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #ffffff;
  transition: 0.4s;
  letter-spacing: 1px;
}
#btn1 {
  background-image: linear-gradient(
    to right,
    #007991 0%,
    #78ffd6 51%,
    #007991 100%
  );

  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
  display: block;
}
#btn2 {
  background-image: linear-gradient(
    to right,
    #ff8008 0%,
    #ffc837 51%,
    #ff8008 100%
  );

  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
  display: block;
}
#btn3 {
  background-image: linear-gradient(
    to right,
    #56ccf2 0%,
    #2f80ed 51%,
    #56ccf2 100%
  );

  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
  display: block;
}
#btn1:hover {
  background-position: right center;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
#btn2:hover {
  background-position: right center;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
#btn3:hover {
  background-position: right center;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
#contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.contact-heading {
  font-size: 35px;
  font-weight: 800;
  color: hsl(212, 49%, 35%);
  text-transform: uppercase;
  letter-spacing: 1px;
}
#contact .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact form input,
#contact form textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #e1e5e8;
  outline: none;
  box-shadow: none;
  font-weight: 500;
}
#contact .btn {
  background-color: #2e91fc;
  letter-spacing: 3px;
  font-weight: 500;
}
#contact .btn:hover {
  background-color: #034986;
}
#contact .social-icons a {
  font-size: 2rem;
  margin-top: 35px;
  color: #3f4551;
  text-decoration: none;
}
#contact .social-icons .fa-facebook:hover {
  color: #1877f2;
}
#contact .social-icons .fa-youtube:hover {
  color: #ee0600;
}
#contact .social-icons .fa-twitter:hover {
  color: #1c93e4;
}
#contact .social-icons .fa-instagram:hover {
  color: #ff6068;
}
.signuppage {
  align-items: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signuppage .container {
  width: 300px;
  background-color: white;
  padding: 0;
  margin: 0;
  font-size: 14px;
  box-shadow: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.signuppage .content-contenaire {
  max-width: 300px;
  margin: 30px auto;
  text-align: center;
  color: #697887;
}
.signuppage .top-container {
  text-align: center;
}
.signuppage .top-container i {
  color: #2e91fc;
}
.signuppage .top-container i span {
  color: #353e5c;
}
.signuppage .top-container i span .hub {
  color: #2e91fc;
  font-weight: 600;
}
.signuppage .top-container > h1 {
  font-size: 2rem;
  padding-bottom: 20px;
}
.signuppage .top-container > h2 {
  padding-bottom: 15px;
  padding-bottom: 15px;
  font-size: 1.8rem;
  color: hsl(212, 49%, 35%);
  text-transform: uppercase;
  font-weight: 600;
}
.signuppage .input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 1rem;
}
.signuppage input[type="text"],
.signuppage input[type="email"],
.signuppage input[type="password"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #e1e5e8;
  outline: none;
}
.signuppage input[type="submit"],
.signuppage .loader-btn {
  width: 100%;
  background-color: #2e91fc;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 1rem;
}
.signuppage input[type="submit"]:hover,
.signuppage .loader-btn:hover {
  background-color: hsl(212, 49%, 35%);
}
.signuppage .content-contenaire p a {
  color: #007bff;
  margin-left: 5px;
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}
.signuppage .content-contenaire p a:hover {
  color: #000000;
}
.loginpage {
  align-items: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginpage .container {
  width: 300px;
  background-color: white;
  padding: 0;
  margin: 0;
  font-size: 14px;
  box-shadow: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.loginpage .content-contenaire {
  max-width: 300px;
  margin: 30px auto;
  text-align: center;
  color: #697887;
}
.loginpage .top-container {
  text-align: center;
}
.loginpage .top-container i {
  color: #2e91fc;
}
.loginpage .top-container i span {
  color: #353e5c;
}
.loginpage .top-container i span .hub {
  color: #2e91fc;
  font-weight: 600;
}
.loginpage .top-container > h1 {
  font-size: 2rem;
  padding-bottom: 20px;
}
.loginpage .top-container > h2 {
  padding-bottom: 15px;
  font-size: 1.8rem;
  color: hsl(212, 49%, 35%);
  text-transform: uppercase;
  font-weight: 600;
}
.loginpage .input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 1rem;
}
.loginpage input[type="text"],
.loginpage input[type="email"],
.loginpage input[type="password"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #e1e5e8;
  outline: none;
}
.loginpage input[type="submit"],
.loginpage .loader-btn {
  width: 100%;
  background-color: #2e91fc;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 1rem;
}
.loginpage input[type="submit"]:hover,
.loginpage .loader-btn:hover {
  background-color: hsl(212, 49%, 35%);
}
.loginpage .content-contenaire p a {
  color: #007bff;
  margin-left: 5px;
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}
.loginpage .content-contenaire p a:hover {
  color: #000000;
}
.checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  min-height: 100vh;
}
.checkout .container {
  height: 100%;
  width: 900px;
}
.checkout .card {
  border: none;
  border-radius: 7px;
  background-color: transparent;
}

.checkout .form-control {
  border-bottom: 2px solid rgb(169, 169, 169) !important;
  background-color: transparent;
  border: none;
  font-weight: 500;
  border-radius: 0px;
}
.checkout .form-control:focus {
  color: #495057;
  background-color: transparent;
  border-color: #8bbafe;
  outline: 0;
  box-shadow: none;
  border-radius: 0px;
  border-bottom: 2px solid blue !important;
}
.checkout .inputbox {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.checkout .inputbox span {
  position: absolute;
  top: 7px;
  left: 11px;
  transition: 0.5s;
}
.checkout .inputbox i {
  position: absolute;
  top: 13px;
  right: 8px;
  transition: 0.5s;
  color: #3f51b5;
}
.checkout input::-webkit-outer-spin-button,
.checkout input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.checkout .inputbox input:focus ~ span {
  transform: translateX(-0px) translateY(-15px);
  font-size: 12px;
}
.checkout .inputbox input:valid ~ span {
  transform: translateX(-0px) translateY(-15px);
  font-size: 12px;
}
.checkout .card-blue {
  background-color: #5b30d9;
}
.checkout .hightlight {
  background-color: #1992fb;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 14px;
}
.checkout .yellow {
  color: #89ffa8;
}
.checkout .decoration {
  text-decoration: none;
  font-size: 14px;
}
.checkout .pay-btn {
  color: #fff;
  background-color: #1992fb;
  border: none;
  background-color: #1992fb;
  border-radius: 5px;
  font-family: "Archivo", sans-serif;
  font-weight: lighter;
}
.checkout button:hover {
  color: #fff;
  background-color: #034986;
}
.checkout button:focus {
  color: #fff;
  background-color: #034986;
}
#success_tic {
  margin: 10% auto;
  height: 100vh;
  background-color: transparent;
}

.modal-dialog .modal-content {
  background-color: transparent;
  border: none;
}
.modal-dialog .modal-content a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
#success_tic .page-body {
  max-width: 300px;
  background-color: transparent;
  margin: 10% auto;
}
#success_tic .page-body .head {
  text-align: center;
}
#success_tic .page-body .head h3 {
  color: aliceblue;
}
#success_tic .close {
  opacity: 1;
  position: absolute;
  right: 0px;
  font-size: 30px;
  padding: 3px 15px;
  margin-bottom: 10px;
}
#success_tic .checkmark-circle {
  width: 150px;
  height: 150px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.checkmark-circle .background {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #1ab394;
  position: absolute;
}
#success_tic .checkmark-circle .checkmark {
  border-radius: 5px;
}
#success_tic .checkmark-circle .checkmark.draw:after {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
  animation-delay: 300ms;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-name: checkmark;
  -moz-animation-name: checkmark;
  animation-name: checkmark;
  -webkit-transform: scaleX(-1) rotate(135deg);
  -moz-transform: scaleX(-1) rotate(135deg);
  -ms-transform: scaleX(-1) rotate(135deg);
  -o-transform: scaleX(-1) rotate(135deg);
  transform: scaleX(-1) rotate(135deg);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
#success_tic .checkmark-circle .checkmark:after {
  opacity: 1;
  height: 75px;
  width: 37.5px;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  border-right: 15px solid #fff;
  border-top: 15px solid #fff;
  border-radius: 2.5px !important;
  content: "";
  left: 35px;
  top: 80px;
  position: absolute;
}
@-webkit-keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }
  40% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}
@-moz-keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }
  40% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }
  40% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}
.checkout .decoration:hover {
  text-decoration: none;
  color: #fdcc49;
}
@media screen and (max-width: 993px) {
  .navbar .container-fluid {
    width: 91vw;
    height: 100%;
  }
}
@media screen and (max-width: 866px) {
  #home .brand {
    font-size: 4rem;
  }
}
@media screen and (min-width: 800px) {
  .signuppage .container {
    width: 800px;
    height: 520px;
    display: flex;
    display-wrap: wrap;
    justify-content: center;
  }
  .signuppage .content-contenaire {
    width: 50%;
  }
  .loginpage .container {
    width: 800px;
    height: 520px;
    display: flex;
    display-wrap: wrap;
    justify-content: center;
  }
  .loginpage .content-contenaire {
    width: 50%;
  }
}
@media screen and (max-width: 573px) {
  #home .brand {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 479px) {
  .form-container .form-horizontal .form-group {
    width: 100%;
  }
  .form-container .signin-link {
    width: 100%;
    margin: 0 10px 15px;
  }
  #home .brand {
    font-size: 4rem;
  }
  .about-heading,
  .pricing-heading,
  .contact-heading,
  #courses h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 380px) {
  .loginpage .container {
    max-width: 300px;
    max-height: 500px;
  }
  .loginpage input[type="text"],
  .loginpage input[type="email"],
  .loginpage input[type="password"] {
    width: 80%;
  }

  .loginpage input[type="submit"] {
    width: 80%;
  }
  .signuppage .container {
    max-width: 300px;
    max-height: 500px;
  }
  .signuppage input[type="text"],
  .signuppage input[type="email"],
  .signuppage input[type="password"] {
    width: 80%;
  }

  .signuppage input[type="submit"] {
    width: 80%;
  }
}
